body{
    background-image: url(media/ab-backgroundimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.navbar{
    background-color: rgb(235, 235, 235);
}
.main-content{
    background-color: #ffffffb9;
    border-radius: 15px;
    box-shadow:0 0 3px 5px #ffffffb9;
}
.title{
    width: fit-content;
    margin: 2%;
}
.pse-ele{
    background-color: rgba(94, 94, 94, 0.466);
    width: 100%;
    height: 4px;
    border-radius: 3px;
}
.portfolio-nav{
    background-color: #ffffff;
}
.portfolio-nav.btn.active{
    background-color: rgb(122, 122, 122) !important;
    color: #ffffff !important;
}
.portfolio-nav.btn:hover{
    background-color: rgb(165, 165, 165) !important;
    color: #ffffff !important;
}
.btn:disabled, .btn.disabled {
    cursor: not-allowed; 
    pointer-events: auto !important; 
}
/* Prevent clicking events of disabled buttons*/
.btn:disabled:active, .btn.disabled:active {
    pointer-events: none !important;
}