body{
    background: url(media/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    background: rgba(0, 0, 0, 0.35);
    text-align: center;
    width: 60%;
    height: fit-content;
    padding: 1%;
    margin: 7% 20%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.35);
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content{
    color: #e6e5e5;
    text-align: center;
    line-height: 30px;
}
.saying{
    color: #f7f7f7;
}
.btn{
    color: rgb(255, 255, 255);
    padding: 1%;
    font-size: larger;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid white;
    font-weight: 600;
    background-color: rgba(153, 153, 153, 0.774);
    transition: 1s;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.623);
    transform: scale(1.1);
    transition: 1s;
}
.btn:active{
    background-color: rgba(153, 153, 153, 0.774);
    transform: scale(1);
    border: 1px solid white;
}
