body{
    background: url(../media/contact-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    background: rgba(0, 0, 0, 0.671);
    text-align: left;
    width: 60%;
    height: fit-content;
    padding: 1%;
    margin: 7% 20%;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.671);
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content, .content ul{
    color: #e6e5e5;
    margin: 0;
    padding: 0;
    font-size: 120%;
}
.content ul li{
    list-style: none;
}
.icon-bar{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    font-size: xxx-large;
}