body{
    background: url(../media/contact-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main{
    background: rgba(0, 0, 0, 0.671);
    width: 60%;
    margin: 7% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content, .content ul{
    color: #e6e5e5;
    margin: 0;
    padding: 0;
    font-size: large;
}
.content ul li{
    list-style: none;
}
.icon-bar{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    font-size: xxx-large;
}