body{
    margin:2%;
}
#pageheader{
    text-align: center;
}
#mainpost{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content{
    padding-bottom: 1%;
    border-bottom: solid black 3px;
}
#selectbtn{
    width: 20rem;
    height: 5rem;
    margin-top: .5rem;
}
#hideInfo{
    text-align: end;
    display: none;
}
#calselect{
    width: 30%;
    margin-top: 1%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
}
.calbtn{
    margin-left: 3%;
}
#showresult{
    width: 25rem;
    background-color: antiquewhite;
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
    border: dashed black 2px;
}