body{
    background-image: url(../media/ab-backgroundimg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#main{
    line-height: 35px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
.header{
    color: #000000cb;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
}
.header h1{
    margin: 2% 0 1%;
}
.header .pse-ele{
    width: 100%;
    height: 4px;
    background-color: rgba(180, 178, 178, 0.507);
    border-radius: 5px;
}
#main p{
    margin: 1% 3%;
}
.title{
    width: fit-content;
    margin: 1% 0;
}
.title h2{
    margin: 0;
}
.title .pse-ele{
    width: initial;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.intro{
    color: rgba(0, 0, 0, 0.836);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myImg{
}
.content p{
    width: 50%;
    margin: 3%;
}
.intro li{
    list-style-type: none;
}
@media (max-width: 426px){
    #main{
        font-size: 0.7rem;
    }
    .intro{
        line-height: 20px;
    }
}